/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/* Mine */

html {
  font-family: 'Fira Mono', monospace;
  font-size: 0.8em;
  color: #eee;
}

body {
  height: 100%;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  width: 100%;
  height: 98vh;
  align-items: center;
  justify-content: center;
}

.selection-box-container {
  width: 750px;
  height: 600px;
  background-color: rgb(31, 31, 31);
  border: solid 4px rgb(145, 0, 145);
  -webkit-box-shadow: 8px 8px 18px 10px rgba(0,0,0,0.66); 
  box-shadow: 8px 8px 18px 10px rgba(0,0,0,0.66);
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tabs-header {
  display: flex;
  flex-direction: row;
  padding: 4px;
  /* border-bottom: 1px solid #333; */
  z-index: 1;
  align-items: center;
}

.tab-header-item {
  padding: 2px;
  cursor: pointer;
  color: #afafaf;
}

.tab-header-item.active {
  color: #eee;
}

.date-time {
  margin-left: auto;
}

.tabs-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.tabs-item {
  height: 100%;
  display: none;
}

.tabs-item.active {
  display: block;
}

.tabs-item.item-1.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('./imgs/box.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;

}

.search-container {
  display: flex;
  
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 6px;
}

.search-container .search-bar input {
  font-family: 'Fira Mono', monospace;
  color: #eee;
  background-color: #333;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 24px;
  border: 1px solid #555;
  flex: 1;
}

.bookmarks-container {
  height: -webkit-fill-available;
  margin: 24px 8px 8px 8px;
  display: flex;
  flex-wrap: wrap;
}

.bookmark-item {
  flex: 1 0 33%;
}

.bookmark-item ul {
  margin-left: 16px;
}

.bookmark-item li {
  margin: 8px;
  text-decoration: underline;
}

.bookmark-item span {
  display: block;
  margin-right: 32px;
  padding-bottom: 4px;
  border-bottom: solid 1px #555;
}

.bookmark-item a:hover {
  color: rgb(145, 0, 145);
}

